{% extends 'layout.html' %}

{% block body %}
  <!--<div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron jumbotron-fluid text-center mt-4">
          <div class="container">
            <h4 class="display-6">Work in progress...</h4>
            <p class="lead">Web scrapping development</p>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <br>
  <h4 class="display-6 text-center">Application is development in progress...</h4>
{% endblock %}
